.Command
{
    BORDER-RIGHT: black 0px solid;
    BORDER-TOP: black 0px solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 18px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: #ffffff 0pt solid;
    COLOR: #000000;
    BORDER-BOTTOM: black 0px solid;
    FONT-FAMILY: 'Courier New';
    BACKGROUND-COLOR: deepskyblue
}
BODY
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: 'Courier New';
    BACKGROUND-COLOR: #ffffff
}
BODY.nav
{
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: 'Courier New';
    BACKGROUND-COLOR: black
}
header
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: deepskyblue;
    FONT-FAMILY: 'Courier New'
}
TD
{
    BORDER-RIGHT: #ffffff thin ridge;
    BORDER-TOP: #333333 thin ridge;
    FONT-SIZE: 12px;
    BORDER-LEFT: #333333 thin ridge;
    COLOR: #000000;
    BORDER-BOTTOM: #ffffff thin ridge;
    FONT-FAMILY: 'Courier New';
    BACKGROUND-COLOR: #dddddd
}
A
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: deepskyblue;
    FONT-FAMILY: 'Courier New';
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14px;
    TEXT-TRANSFORM: uppercase;
    COLOR: deepskyblue;
    FONT-STYLE: normal;
    FONT-FAMILY: 'Courier New';
    FONT-VARIANT: normal;
    TEXT-DECORATION: underline
}
UL
{
    MARGIN: 16px;
    COLOR: #ffffff;
    FONT-FAMILY: Fixedsys;
    LIST-STYLE-TYPE: disc
}
H1
{
    FONT-SIZE: 16px;
    COLOR: #ffffff;
    FONT-FAMILY: 'Courier New'
}
TABLE1
{
    BORDER-RIGHT: black;
    PADDING-RIGHT: 1px;
    BORDER-TOP: black;
    PADDING-LEFT: 1px;
    PADDING-BOTTOM: 1px;
    MARGIN: 1px;
    BORDER-LEFT: black;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: black
}
